@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

* {
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
}

header img {
  height: 40px;
  width: 140px;
  padding-top: 4px;
  padding-right: 8px;
  position: relative;
  display: none;
}

.mainSection {
  width: 100%;
  padding-top: 40px;
  background: linear-gradient(0deg, #f5f5f5 0%, rgba(248, 248, 248, 0.53) 100%);
}

.mainSection div {
  color: #ec5242;
}

.mainSection h2 {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 31px;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
}

.mainSection h1 {
  padding: 15px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 3px;
  text-align: center;
}

.mainSection .eventDetail {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #878787;
  left: 44px;
  background: #fff;
  border: 1px solid #d5d5d5;
  margin: 20px;
  padding: 22px;
}

.mainSection .furtherDetail {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #878787;
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.mainSection .emailInfo {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.eventLogo {
  width: 100%;
  margin-bottom: 30px;
}

.eventLogo h1 {
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 4px;
  color: #000;
  padding: 30px 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.eventLogo .mobilePara {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #878787;
  padding: 10px 60px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.eventLogo .desktopPara {
  display: none;
}

.eventList {
  background: #fff;
  border: 3px solid #f7f7f7;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 35px;
}

.eventTime {
  /* background: #FFFFFF;
  border: 3px solid #F7F7F7; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.eventTime li {
  display: inline-block;
  line-height: 90px;
  padding-inline: 0;
}

.eventTime img {
  padding-top: 35px;
  right: 0;
  width: 70px;
  height: 70px;
}

.eventTime h1 {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  left: 0;
}

.pastEvent {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
}

.pastEvent h1 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 4px;
  text-align: center;
}

.pastEvent hr,
.partner hr {
  height: 2px;
  background-color: #ec5242;
  width: 8%;
  border: none;
  align-content: center;
}

.pastEvent p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #878787;
  text-align: center;
  padding: 5px 35px;
  margin: 2px 20px;
}

.pastEvent .eventMain {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.pastEvent .eventImage {
  position: relative;
  top: 50px;
  list-style: none;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.eventImage .imgDiv {
  margin: 20px 0;
  background-color: red;
}

.eventImage img {
  width: 300px;
  height: 246px;
  opacity: 0.5;
}

.firstPartner li img {
  width: 100px;
}

.eventImage img:hover {
  opacity: 1;
}

.eventImage .content {
  position: absolute;
  bottom: 30%;/* Black background with 0.5 opacity */
  color: white;
  width: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 4px;
}

.eventImage .content p {
  color: white;
}

.partner {
  width: 100%;
  background-color: #424146;
  padding-bottom: 50px;
}

.partner h1 {
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.partner .firstPartner {
  list-style-type: none;
  padding-top: 40px;
  display: flex;
  left: 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.firstPartner li,
.secondPartner li {
  display: inline;
  color: #919191;
  line-height: 50px;
  padding-inline: 20px;
  margin-right: 20px;
}

.secondPartner {
  list-style-type: none;
  display: flex;
  left: 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}

footer .footerMainul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  left: 0;
  margin: 0;
}

.footerMainul .footerFirstul {
  list-style-type: none;
  display: flex;
  left: 0;
  flex-direction: column;
  width: 40%;
  padding-top: 35px;
}

.footerMainul .footerSecondul {
  list-style-type: none;
  display: flex;
  margin: 0;
  left: 0;
  flex-direction: column;
  width: 60%;
  padding-top: 35px;
}

.footerFirstul li {
  font-size: 22px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  text-align: left;
  padding-right: 15px;
}

.footerSecondul li {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding-left: 0;
  text-align: left;
  padding-right: 30px;
}

/* Menu popup */
.ham {
  position: absolute;

  /* keep the hamburger button above everything */
  z-index: 100;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 25px;
}

.xIcon {
  display: none;
  z-index: 100;
  position: fixed;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  color: black;
  background-color: white;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.menu li {
  padding: 1rem 0;
}

.menuLink {
  display: inline;
  font-size: 20px;
  color: #ec5242;
  text-decoration: none;
}

.menuLink:hover {
  text-decoration: underline;
}

.nav-bar .topList {
  display: none;
}

.desktopNavFirst {
  display: none;
}

.desktopPartner {
  display: none;
}

.footerthirdul {
  display: none;
}

@media (min-width: 768px) {
  header img {
    display: block;
  }

  .nav-bar {
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 25px !important;
    background-color: black;
  }

  .nav-bar .ham {
    display: none;
  }

  .nav-bar .menu {
    display: none;
  }

  .nav-bar .topList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-right: 110px;
  }

  .footerFirstul li {
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
    color: #000;
    text-align: left;
    padding-left: 70px;
  }

  .footerthirdul li {
    width: 70%;
    font-size: 14px;
    line-height: 22px;
  }

  .eventTime li {
    display: inline-block;
    line-height: 90px;
    padding-inline: 0;
  }

  .desktopNavFirst .secondNavList li {
    padding-inline: 25px;
    font-size: 15px;
    color: #919191;
  }

  .partner .desktopPartner li {
    display: inline;
    color: #919191;
    line-height: 60px;
    padding-inline: 20px;
    margin-right: 20px;
  }

  header .nav-bar .topList li {
    color: white;
    font-size: 10px;
    padding-inline: 8px;
    padding-top: 6px;
  }

  header .desktopNavFirst {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
  }

  .desktopNavFirst .secondNavList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 90px;
  }

  .secondNavList li a {
    text-decoration: none;
    color: #ec5242;
  }

  .mainSection div {
    color: #ec5242;
    justify-content: center;
  }

  .mainSection div h2 {
    display: none;
  }

  .mainSection h1 {
    padding: 20px 100px;
    margin: 5px 50px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 3px;
    text-align: center;
  }

  .mainSection .eventDetail {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #878787;
    left: 44px;
    background: #fff;
    border: 1px solid #d5d5d5;
    margin: 30px 180px;
    padding: 22px;
  }

  .eventLogo .mobilePara {
    display: none;
  }

  .eventLogo .desktopPara {
    display: block;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #878787;
    padding: 10px 100px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .partner h1 {
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    color: #919191;
    padding-top: 40px;
  }

  .partner hr {
    width: 4%;
    padding-top: 0;
  }

  .partner .firstPartner,
  .partner .secondPartner {
    display: none;
  }

  .partner .desktopPartner {
    /* display: block; */
    list-style-type: none;
    padding-top: 40px;
    display: flex;
    left: 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .eventList {
    background: #fff;
    border: 3px solid #f7f7f7;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 35px 220px;
  }

  .eventTime {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
  }

  .eventTime img {
    padding-top: 35px;
    right: 0;
    width: 70px;
    height: 70px;
  }

  .eventTime h1 {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    left: 0;
  }

  .pastEvent .eventMain {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footerMainul .footerSecondul {
    display: none;
  }

  .footerMainul .footerthirdul {
    list-style-type: none;
    display: flex;
    margin: 0;
    left: 0;
    padding-left: 0;
    flex-direction: column;
    width: 60%;
    padding-top: 35px;
  }
}
